body {
  margin: auto;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #641496; //purple
  text-align: center;
}

h2 {
  font-size: 24px;
  color: white;
  text-align: center;
}

body h1 {
  font-size: 48px;
  color: #19a83d; //strong green
  text-align: center;
}

body p {
  font-size: 24px;
  font-style: italic;
  color: white;
  text-align: center;
}

.gap1 {
  padding: 50px;
}

.gap2 {
  padding: 167px;
}
